<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.co.pannacotta.norokoro">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name="jp.co.pannacotta.norokoro.MainActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name="jp.co.pannacotta.norokoro.SplashActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="jp.co.pannacotta.norokoro.NorouActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="jp.co.pannacotta.norokoro.WaraningyouActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="jp.co.pannacotta.norokoro.KorosuActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="jp.co.pannacotta.norokoro.TourokuActivity"
            android:screenOrientation="portrait"/>


    </application>

</manifest>